*  {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
  html, body  {
     margin: 0;
     padding: 0;
 }
  html  {
     font-family: Vollkorn,  serif;
     font-size: 16px;
     line-height: 1.5;
 }
  body  {
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     background-color: #fff;
     color: #515151;
 }
  h1, h2, h3, h4, h5, h6  {
     color: #313131;
     font-weight: 700;
     line-height: 1.25;
     margin-bottom: .5rem;
     text-rendering: optimizeLegibility;
 }
  h1  {
     font-size: 1.5rem;
 }
  h2  {
     font-size: 1.5rem;
     margin-top: 1rem;
 }
  h3  {
     font-size: 1.25rem;
     margin-top: 1.5rem;
 }
  h5  {
     font-family: HelveticaNeue-Light,  "Helvetica Neue Light",  Helvetica-Light,  "Helvetica Light",  "Helvetica Neue", Helvetica, Arial;
     font-size: 18px;
     font-weight: 200;
     letter-spacing: 1px;
     line-height: 19px;
     margin-top: 1rem;
 }
  h4  {
     font-family: HelveticaNeue-Light,  "Helvetica Neue Light",  Helvetica-Light,  "Helvetica Light",  "Helvetica Neue", Helvetica, Arial;
     font-size: 14px;
     font-weight: 200;
     letter-spacing: 1px;
     line-height: 15px;
 }
  p  {
     margin-bottom: 1rem;
     margin-top: 0;
 }
  ul, ol, dl  {
     list-style: none;
     margin: 0;
     padding: 0;
 }
  dd  {
     margin-bottom: .5rem;
 }
  hr  {
     border: 0;
     border-bottom: 1px solid #fff;
     border-top: 1px solid #eee;
     margin: 1.5rem 0;
     position: relative;
 }
  abbr  {
     color: #555;
     font-size: 85%;
     font-weight: 700;
     text-transform: uppercase;
 }
  abbr[title]  {
     border-bottom: 1px dotted #e5e5e5;
     cursor: help;
 }
  code, pre  {
     font-family: Menlo,  Monaco,  "Courier New",  monospace;
 }
  code  {
     background-color: #f9f9f9;
     border-radius: 3px;
     color: #bf616a;
     font-size: 85%;
     padding: .25em .5em;
 }
  pre  {
     background-color: #f9f9f9;
     display: block;
     font-size: .8rem;
     line-height: 1.4;
     margin-bottom: 1rem;
     margin-top: 0;
     padding: 1rem;
     white-space: pre-wrap;
     word-break: break-all;
     word-wrap: break-word;
 }
  pre code  {
     background-color: transparent;
     color: inherit;
     font-size: 100%;
     padding: 0;
 }
  .highlight  {
     border-radius: 4px;
     margin-bottom: 1rem;
 }
  .gist .gist-file  {
     font-family: Menlo,  Monaco,  "Courier New",  monospace!important;
 }
  .gist .markdown-body  {
     padding: 15px;
 }
  .gist pre  {
     background-color: transparent;
     padding: 0;
 }
  .gist .gist-file .gist-data  {
     font-size: .8rem!important;
     line-height: 1.4;
 }
  .gist code  {
     background-color: transparent;
     border-radius: 0;
     color: inherit;
     padding: 0;
 }
  blockquote  {
     border-left: .25rem solid #e5e5e5;
     color: #7a7a7a;
     margin: .8rem 0;
     padding: .5rem 1rem;
 }
  img  {
     border-radius: 5px;
     display: block;
     margin: 0 0 1rem;
     max-width: 100%;
 }
  table  {
     border: 1px solid #e5e5e5;
     border-collapse: collapse;
     margin-bottom: 1rem;
     width: 100%;
 }
  td, th  {
     border: 1px solid #e5e5e5;
     padding: .25rem .5rem;
 }
  tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th  {
     background-color: #f9f9f9;
 }
  .lead  {
     font-size: 1.25rem;
     font-weight: 300;
 }
  .message  {
     background-color: #f9f9f9;
     color: #717171;
     margin-bottom: 1rem;
     padding: 1rem;
 }
  .container  {
     margin-left: auto;
     margin-right: auto;
     max-width: 38rem;
     padding-left: 1rem;
     padding-right: 1rem;
 }
  .masthead  {
     margin-bottom: 3rem;
     padding-bottom: 1rem;
     padding-top: 1rem;
 }
  .masthead-title  {
     color: #505050;
     margin-bottom: 0;
     margin-top: 0;
 }
  .masthead-title a  {
     color: #505050;
 }
  .masthead-title small  {
     color: silver;
     font-size: 75%;
     font-weight: 400;
     letter-spacing: 0;
 }
  .page, .post  {
     margin-bottom: 4em;
 }
  .post-date  {
     color: #9a9a9a;
     display: block;
     margin-bottom: 1rem;
     margin-top: -.5rem;
 }
  .related  {
     border-top: 1px solid #eee;
     padding-bottom: 2rem;
     padding-top: 2rem;
 }
  .related-posts  {
     list-style: none;
     padding-left: 0;
 }
  .related-posts li small  {
     color: #999;
     font-size: 75%;
 }
  .pagination  {
     color: #ccc;
     font-family: "PT Sans",  Helvetica,  Arial,  sans-serif;
     margin-left: -1rem;
     margin-right: -1rem;
     overflow: hidden;
     text-align: center;
 }
  .pagination-item  {
     border: 1px solid #eee;
     display: block;
     padding: 1rem;
 }
  .pagination-item:first-child  {
     margin-bottom: -1px;
 }
  a.pagination-item:hover  {
     background-color: #f5f5f5;
 }
  ul  {
     list-style-type: circle;
     margin: 0;
     padding: 0;
 }
  .sidebar  {
     background-color: #202020;
     color: #cdc;
     padding: 1rem;
     text-align: center;
 }
  .sidebar a  {
     color: #fff;
 }
  .sidebar-about h1  {
     color: #fff;
     font-family: Helvetica-Neue,  sans-serif;
     font-size: 16px;
     margin-top: 0;
 }
  .sidebar-nav  {
     margin-bottom: 1rem;
 }
  .sidebar-nav-item  {
     display: block;
     line-height: 1.75;
 }
  .theme-base-0d .sidebar  {
     background-color: #2d314d;
     color: #cdc;
 }
  .theme-base-0d .content a, .theme-base-0d .related-posts li a:hover  {
     color: #2d314d;
 }
  .theme-base-0e .sidebar  {
     background-color: #aa759f;
 }
  .theme-base-0e .content a, .theme-base-0e .related-posts li a:hover  {
     color: #aa759f;
 }
  .theme-base-0f .sidebar  {
     background-color: #8f5536;
 }
  .theme-base-0f .content a, .theme-base-0f .related-posts li a:hover  {
     color: #8f5536;
 }
  .content  {
     padding-bottom: 4rem;
     padding-top: 4rem;
 }
  a, .related-posts li a:hover  {
     color: #268bd2;
     text-decoration: none;
 }
  a strong, .related-posts li a:hover small  {
     color: inherit;
 }
  a:hover, a:focus, a.sidebar-nav-item:hover, a.sidebar-nav-item:focus  {
     text-decoration: underline;
 }
  strong, .page-title, .post-title, .post-title a  {
     color: #303030;
 }
  dt, .sidebar-nav-item.active  {
     font-weight: 700;
 }
  .highlight pre, blockquote p:last-child  {
     margin-bottom: 0;
 }
  .page-title, .post-title, .related-posts h3  {
     margin-top: 0;
 }
  @media min-width 38em  {
     html  {
     font-size: 20px;
 }
 }
  @media min-width 30em  {
     blockquote  {
     padding-left: 1.25rem;
     padding-right: 5rem;
 }
  .pagination  {
     margin: 3rem 0;
 }
  .pagination-item  {
     float: left;
     width: 50%;
 }
  .pagination-item:first-child  {
     border-bottom-left-radius: 4px;
     border-top-left-radius: 4px;
     margin-bottom: 0;
 }
  .pagination-item:last-child  {
     border-bottom-right-radius: 4px;
     border-top-right-radius: 4px;
     margin-left: -1px;
 }
 }
  @media min-width 48em  {
     html  {
     font-size: 16px;
 }
  .sidebar  {
     bottom: 0;
     font-size: 14px;
     left: 0;
     position: fixed;
     text-align: left;
     top: 0;
     width: 16rem;
 }
  .sidebar-sticky  {
     bottom: 1rem;
     left: 1rem;
     position: absolute;
     right: 1rem;
 }
  .content  {
     margin-left: 20rem;
     margin-right: 2rem;
     max-width: 38rem;
 }
  .layout-reverse .sidebar  {
     left: auto;
     right: 0;
 }
  .layout-reverse .content  {
     margin-left: 2rem;
     margin-right: 20rem;
 }
 }
  @media min-width 58em  {
     html  {
     font-size: 20px;
 }
 }
  @media min-width 64em  {
     .content  {
     margin-left: 22rem;
     margin-right: 4rem;
 }
  .layout-reverse .content  {
     margin-left: 6rem;
     margin-right: 22rem;
 }
